//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 29 21:44:55 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "rst" LOCATE = SITE "B2" LEVEL 1;
COMP "segments_out<0>" LOCATE = SITE "N13" LEVEL 1;
COMP "segments_out<1>" LOCATE = SITE "M12" LEVEL 1;
COMP "segments_out<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "segments_out<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "segments_out<4>" LOCATE = SITE "N11" LEVEL 1;
COMP "segments_out<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segments_out<6>" LOCATE = SITE "H12" LEVEL 1;
COMP "segments_out<7>" LOCATE = SITE "L14" LEVEL 1;
COMP "p1_down" LOCATE = SITE "M4" LEVEL 1;
COMP "p2_down" LOCATE = SITE "G12" LEVEL 1;
COMP "p1_up" LOCATE = SITE "A7" LEVEL 1;
COMP "p2_up" LOCATE = SITE "C11" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "h_sync" LOCATE = SITE "J14" LEVEL 1;
COMP "v_sync" LOCATE = SITE "K13" LEVEL 1;
COMP "color_out<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "color_out<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "color_out<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "color_out<3>" LOCATE = SITE "G13" LEVEL 1;
COMP "color_out<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "color_out<5>" LOCATE = SITE "C14" LEVEL 1;
COMP "color_out<6>" LOCATE = SITE "D13" LEVEL 1;
COMP "color_out<7>" LOCATE = SITE "F13" LEVEL 1;
COMP "anode_sel<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "anode_sel<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "anode_sel<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "anode_sel<3>" LOCATE = SITE "K14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

