NET "clk" LOC = B8;
NET "h_sync" LOC = J14;
NET "v_sync" LOC = K13;
NET "color_out[7]" LOC = F13;
NET "color_out[6]" LOC = D13;
NET "color_out[5]" LOC = C14;
NET "color_out[4]" LOC = G14;
NET "color_out[3]" LOC = G13;
NET "color_out[2]" LOC = F14;
NET "color_out[1]" LOC = J13;
NET "color_out[0]" LOC = H13;
NET "rst" LOC = B2;
NET "sw[7]" LOC = N3;
NET "sw[6]" LOC = E2;
NET "sw[5]" LOC = F3;
NET "sw[4]" LOC = G3;
NET "sw[3]" LOC = B4;
NET "sw[2]" LOC = K3;
NET "sw[1]" LOC = L3;
NET "sw[0]" LOC = P11;
NET "p1_up" LOC = A7;
NET "p1_down" LOC = M4;
NET "p2_up" LOC = C11;
NET "p2_down" LOC = G12;

# PlanAhead Generated physical constraints 

NET "anode_sel[3]" LOC = K14;
NET "anode_sel[2]" LOC = M13;
NET "anode_sel[1]" LOC = J12;
NET "anode_sel[0]" LOC = F12;
NET "segments_out[7]" LOC = L14;
NET "segments_out[6]" LOC = H12;
NET "segments_out[5]" LOC = N14;
NET "segments_out[4]" LOC = N11;
NET "segments_out[3]" LOC = P12;
NET "segments_out[2]" LOC = L13;
NET "segments_out[1]" LOC = M12;
NET "segments_out[0]" LOC = N13;
